In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.feature_selection import SelectFromModel
from sklearn.preprocessing import StandardScaler

### Prediction 

My prediction is that the  Logistic Regression model will perform better.

In [3]:
# Import the data
lending_df = pd.read_csv("Resources/lending_data.csv")
lending_df.head()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt,loan_status
0,10700.0,7.672,52800,0.431818,5,1,22800,0
1,8400.0,6.692,43600,0.311927,3,0,13600,0
2,9000.0,6.963,46100,0.349241,3,0,16100,0
3,10700.0,7.664,52700,0.430740,5,1,22700,0
4,10800.0,7.698,53000,0.433962,5,1,23000,0

In [4]:
# Split the data into X_train, X_test, y_train, y_test

y = lending_df['loan_status'].values
x = lending_df.drop('loan_status', axis=1)

x_train, x_test, y_train, y_test = train_test_split(x, y, random_state=1)

In [5]:
x_train.head()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt
29175,8600.0,6.792,44500,0.325843,3,0,14500
23020,7800.0,6.419,41000,0.268293,2,0,11000
31269,10000.0,7.386,50100,0.401198,4,1,20100
35479,9300.0,7.093,47300,0.365751,3,0,17300
13470,9200.0,7.045,46900,0.360341,3,0,16900

In [6]:
x_test.head()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt
60914,12600.0,8.469,60300,0.502488,6,1,30300
36843,9800.0,7.289,49200,0.390244,4,0,19200
1966,10900.0,7.770,53700,0.441341,5,1,23700
70137,10700.0,7.666,52700,0.430740,5,1,22700
27237,9900.0,7.353,49800,0.397590,4,0,19800

### Create a Logistic Regression model, fit it to the data, and print the model's score

In [7]:
# Train a Logistic Regression model print the model score
classifier = LogisticRegression(random_state=1)
classifier

LogisticRegression(random_state=1)

In [8]:
classifier.fit(x_train, y_train)
print(f"Training Data Score: {classifier.score(x_train, y_train)}")
print(f"Testing Data Score: {classifier.score(x_test, y_test)}")

Training Data Score: 0.9921240885954051
Testing Data Score: 0.9918489475856377

### Create a Random Forest Classifier, fit it to the data, and print the model's score

In [9]:
# Train a Random Forest Classifier model and print the model score
clf = RandomForestClassifier(random_state=1, n_estimators=1000).fit(x_train, y_train)
print(f'Training Score: {clf.score(x_train, y_train)}')
print(f'Testing Score: {clf.score(x_test, y_test)}')

Training Score: 0.9975409272252029
Testing Score: 0.9915910028889806

### Scale the data

In [10]:
scaler = StandardScaler()
x_train_scaled = scaler.fit_transform(x_train)
x_test_scaled = scaler.fit_transform(x_test)
x_train_scaled

array([[-0.57708952, -0.56367666, -0.5652314 , ..., -0.43489843,
        -0.67289855, -0.5652314 ],
       [-0.95927354, -0.98302549, -0.98332378, ..., -0.96014741,
        -0.67289855, -0.98332378],
       [ 0.09173251,  0.10413354,  0.10371642, ...,  0.09035056,
         1.04334691,  0.10371642],
       ...,
       [ 0.18727852,  0.19070153,  0.18733489, ...,  0.09035056,
         1.04334691,  0.18733489],
       [ 0.61723554,  0.61229888,  0.61737277, ...,  0.61559954,
         1.04334691,  0.61737277],
       [ 0.37837052,  0.3807014 ,  0.37846284, ...,  0.61559954,
         1.04334691,  0.37846284]])

In [11]:
# Train the Logistic Regression model on the scaled data and print the model score
classifier.fit(x_train_scaled, y_train)
print(f"Training Data Score: {classifier.score(x_train_scaled, y_train)}")
print(f"Testing Data Score: {classifier.score(x_test_scaled, y_test)}")

Training Data Score: 0.9942908240473243
Testing Data Score: 0.9936545604622369

In [12]:
# Train a Random Forest Classifier model on the scaled data and print the model score
clf2 = RandomForestClassifier(random_state=1, n_estimators=1000).fit(x_train_scaled, y_train)
print(f"Training Data Score: {clf2.score(x_train_scaled, y_train)}")
print(f'Testing Score: {clf2.score(x_test_scaled, y_test)}')

Training Data Score: 0.9975409272252029
Testing Score: 0.9923648369789517

# Consider the models

My prediction was wrong based on the Random Forest Classifier model is the most acurate without and with scaling the models.The  Logistic Regression model improves after scaling.